<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Sangram R.</a>
    

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLink="/" class="nav-link"><span>Home</span></a>
        </li>
        <li class="nav-item">
          <a routerLink="about" class="nav-link"><span>About</span></a>
        </li>
        <li class="nav-item">
          <a routerLink="resume" class="nav-link"><span>Resume</span></a>
        </li>
        <li class="nav-item">
          <a routerLink="services" class="nav-link"><span>Services</span></a>
        </li>
        <li class="nav-item">
          <a routerLink="skills" class="nav-link"><span>Skills</span></a>
        </li>
        <li class="nav-item">
          <a routerLink="projects" class="nav-link"><span>Projects</span></a>
        </li>

        <li class="nav-item">
          <a routerLink="contact" class="nav-link"><span>Contact</span></a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <a routerLink="blogs" class="btn btn-outline-success" type="submit">MyBlog</a>
      </form>
    </div>
  </div>
</nav>
