<section class="ftco-about img ftco-section ftco-no-pb" id="about-section">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 col-lg-5 d-flex">
                <div class="img-about img d-flex align-items-stretch">
                    <div class="overlay"></div>
                    <div class="img d-flex align-self-stretch align-items-center" >
                      <img src="https://images.unsplash.com/photo-1691019568201-84b6623d2f32?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=327&q=80" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-7 pl-lg-5 pb-5 mt-5">
                <div class="row justify-content-start pb-3">
              <div class="col-md-12 heading-section ftco-animate">
                  <h1 class="big">About</h1>
                <h2 class="mb-4">About Me</h2>
                <p>Highly skilled Front-End Developer with expertise in 
                  Angular and Mobile App Development using Flutter. 
                  Proficient in HTML, CSS, JavaScript, TypeScript, and 
                  Dart. Adept at creating responsive web applications and 
                  building cross-platform mobile apps with a strong focus 
                  on user experience. Experienced in testing mobile apps 
                  and API testing. Eager to contribute my front-end and 
                  mobile development skills while expanding knowledge in 
                  back-end technologies like Node.js to deliver innovative 
                  solutions and exceptional user experiences</p>
                <ul class="about-info mt-4 px-md-0 px-2">
                    <li class="d-flex"><span>Name:</span> <span>Clark Thompson</span></li>
                    <li class="d-flex"><span>Date of birth:</span> <span>January 01, 1987</span></li>
                    <li class="d-flex"><span>Address:</span> <span>San Francisco CA 97987 USA</span></li>
                    <li class="d-flex"><span>Zip code:</span> <span>1000</span></li>
                    <li class="d-flex"><span>Email:</span> <span>clarkthomp@gmail.com</span></li>
                    <li class="d-flex"><span>Phone: </span> <span>+1-2234-5678-9-0</span></li>
                </ul>
              </div>
            </div>
          <div class="counter-wrap ftco-animate d-flex mt-md-3">
          <div class="text">
              <p class="mb-4">
                <span class="number" data-number="120">0</span>
                <span>Project complete</span>
            </p>
            <p><a href="#" class="btn btn-primary py-3 px-3">Download CV</a></p>
          </div>
          </div>
        </div>
    </div>
    </div>
</section>
